{% load static %}
{% load nav %}

<!doctype html>
<html lang="en" class="h-100">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="stylesheet" type="text/css" href="{% static 'easy_plants/bootstrap/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'easy_plants/bootstrap-icons/font/bootstrap-icons.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'easy_plants/main.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'easy_plants/flatpickr/flatpickr.min.css' %}" />

        <script src="{% static 'easy_plants/main.js' %}"></script>
        <script src="{% static 'easy_plants/flatpickr/flatpickr.min.js' %}"></script>
        <script src="{% static 'easy_plants/flatpickr/l10n/de.js' %}"></script>

        <title>
            Easy Plants
            {% block title %}{% endblock title %}
        </title>
    </head>
    <body class="h-100">
        <header class="bg-dark bg-gradient text-light fixed-top py-2">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a class="link-light link-underline-opacity-0 link-underline-opacity-100-hover" href="/">Easy Plants</a>
                    </div>
                    <div class="col-5 text-end user-select-none">
                        {% if user.is_authenticated %}
                            {% firstof user.get_short_name user.get_username %}
                            · 
                            <form method="post" action="{% url 'logout' %}" style="display:inline">
                                {% csrf_token %}
                                <button class="btn btn-link link-light link-underline-opacity-0 link-underline-opacity-100-hover p-0" 
                                        style="font-size:14.4px; border:none; position: relative; top:-1px" 
                                        type="submit">
                                        Logout
                                </button>
                            </form>
                            {% if user.is_superuser %}
                                | <a class="link-light link-underline-opacity-0 link-underline-opacity-100-hover" href="{% url 'admin:index' %}">Admin</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </header>

        {% nav %}

        <div class="content container">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>
                            {% if 'safe' in message.tags %} {{ message|safe }} {% else %} {{ message }} {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% block content %}{% endblock %}
        </div>

        {% block footer_wrapper %}
            <footer class="footer bg-dark mt-auto fixed-bottom py-3">
              <div class="container">
                <span class="text-light">
                    {% block footer %}{% endblock %}
                </span>
              </div>
            </footer>
        {% endblock %}

        <script src="{% static 'easy_plants/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'easy_plants/htmx.min.js' %}"></script>
        <script src="{% static 'easy_plants/hyperscript.min.js' %}"></script>
    </body>
</html>