{% extends "easy_plants/base.html" %}

{% load  static %}

{% block title %}
    - {{ title }}
{% endblock title %}

{% block content %}
    <h1>Your Plants</h1>
    <a class="btn btn-primary" href="{% url 'easy_plants:add-plant' %}">Add Plant</a>
    {% for plant in plants %}
        <div class="ep-plant-list d-flex mt-2">            
            <div>
                {% if plant.images.last %}
                <a href="{% url 'easy_plants:plant-detail' plant.id %}">
                    <img src="{{ plant.images.last.image.url }}" 
                        alt="Plant" 
                        width="150px"                        
                        height="230px">
                </a>
                {% else %}
                    <a href="{% url 'easy_plants:plant-detail' plant.id %}">
                        <img src="{% static 'easy_plants/images/plant-placeholder.png' %}" 
                            alt="Plant Placeholder" 
                            width="150px"
                            height="230px">
                    </a> 
                {% endif %}
            </div>
            <div class="ps-2 container">
                <div class="row">
                    <div class="col">
                        <div class="ep-plant-name">{{ plant.name }}</div>
                        <div class="ep-plant-start">Start: {{ plant.start }}</div>
                        {% if plant.day_one %}
                            <div class="ep-plant-day-one pt-1">Day One: {{ plant.day_one }}</div>
                            <div class="ep-plant-flowering-start">Day: {{ plant.get_day_and_week.0 }} / 
                                                                Week: {{ plant.get_day_and_week.1 }}</div>
                        {% endif %}
                        {% if plant.flowering_start %}
                            <div class="ep-plant-flowering-start pt-1">Flowering Start: {{ plant.flowering_start }}</div>
                            <div class="ep-plant-flowering-start">Flowering Day: {{ plant.get_flowering_day_and_week.0 }} / 
                                                                Flowering Week: {{ plant.get_flowering_day_and_week.1 }}</div>
                        {% endif %}                    
                        {% if plant.harvested %}
                            <div class="ep-plant-flowering-start pt-1">Harvested: {{ plant.harvested }}</div>
                            {% if plant.drying_end %}
                                <div class="ep-plant-flowering-start">Drying days: {{ plant.get_drying_day }}</div>
                            {% else %}  
                                <div class="ep-plant-flowering-start">Drying Day: {{ plant.get_drying_day }}</div>
                            {% endif %}
                        {% endif %}                    
                    </div>
                    <div class="col">
                        <div class="ep-plant-name">Latest</div>
                        {% if plant.entries.exists %}   
                            <div>Day {{ plant.entries.first.day }}: {{ plant.entries.first.text }}</div>
                        {% endif %}
                    </div>
                    <div class="col">
                        <div class="ep-plant-name">Results</div>
                        {% if plant.get_vegative_weeks %}
                            <div>Duration vegative phase: {{ plant.get_vegative_weeks }}</div>
                        {% endif %}
                        {% if plant.yield_wet %}
                            <div>Yield wet: {{ plant.yield_wet }}g</div>
                        {% endif %}
                        {% if plant.yield_dry %}
                            <div>Yield dry: {{ plant.yield_dry }}g</div>
                        {% endif %}
                        {% if plant.yield_kief %}
                            <div>Yield kief: {{ plant.yield_kief }}g</div>
                        {% endif %}
                    </div>
                    <div class="text-end col-2">
                        {% if plant.get_state == PLANT_STATES.NOT_STARTED %}
                            Not Started
                        {% elif plant.get_state == PLANT_STATES.DRYING %}
                            Drying / {{ plant.get_drying_day }}
                        {% elif plant.get_state == PLANT_STATES.STARTED %}
                            Started
                        {% elif plant.get_state == PLANT_STATES.FLOWERING %}
                            Flowering / {{ plant.get_flowering_day_and_week.0 }}
                        {% elif plant.get_state == PLANT_STATES.VEGETATIVE %}
                            Vegetative
                        {% elif plant.get_state == PLANT_STATES.FINISHED %}
                            Finished
                        {% endif %}
                    </div>
                </div>                
            </div>    
        </div>
    {% endfor %}    
{% endblock %}
