{% extends "easy_plants/base.html" %}

{% block title %}
    - {{ plant.name }}
{% endblock title %}


{% block content %}
    <h1>{{ plant.name }}</h1>
    <div class="pb-2">
        <button class="btn btn-primary" _="on click call startRotation()">Start</button>
        <button class="btn btn-secondary" _="on click call stopRotation()">Stop</button>
        <a href="{% url 'easy_plants:update-plant' plant.id %}" class="btn btn-warning">Edit</a>
    </div>
    {% for image in plant.images.all %}
        <img id="ep-plant-image-{{ forloop.counter }}"
                class="ep-plant-image{% if forloop.first %} displayed{% else %} hidden{% endif %}"
                src="{{ image.image.url }}"
                alt="{{ image.image.name }}"
                height="400px" />
    {% endfor %}
    <form class="pt-2"
        hx-trigger="submit"
        hx-post="{% url 'easy_plants:add-plant-entry' %}"
        hx-select="#ep-plant-entries"
        hx-target="#ep-plant-entries"
        hx-swap="outerHTML"
        _="on htmx:afterRequest set #ep-entry-input.value to ''">
            {% csrf_token %}
            <input id="ep-entry-input" class="form-control" type="text" name="plant-entry" placeholder="Add new entry" />
            <input type="hidden" name="plant-id" value="{{ plant.id }}" />
    </form>
    <table class="mt-4 table" id="ep-plant-entries">
        <tr>
            <th>Date</th>
            <th>Day</th>
            <th>Action</th>
            <th>Manage</th>
        </tr>
        {% for entry in plant.entries.all %}
            <tr class="ep-plant-entry">
                <td>{{ entry.date|date:"SHORT_DATE_FORMAT" }}</td>
                <td>{{ entry.day }}</td>
                <td>{{ entry.text }}</td>
                <td>
                    <a href="{% url 'easy_plants:delete-plant-entry' entry.id %}" class="btn btn-danger btn-sm">
                        <i class="bi bi-trash"></i>
                    </a>
                    <a href="{% url 'easy_plants:update-plant-entry' entry.id %}" class="btn btn-warning btn-sm">
                        <i class="bi bi-pencil"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}
